html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}

.container {
  background: lightblue;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    auto;
}

.deck {
  position: absolute;
  width: 80vh;
  height: 50vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deck > div {
  touch-action: none;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80vh;
  height: 80vh;
  will-change: transform;
  border-radius: 10px;
}
